<div class="container-fluid">
  <h3 class="text-center">Expense Report</h3>

  <table class="table table-striped expense_report_criteria_table">
    <tbody>
      <tr>
        <th>What you buy</th>
        <td><%= @report.root_item_type.name || "<all>" %></td>
      </tr>
      <tr>
        <th>Tag of the purchases</th>
        <td><%= @report.tag.name || "<all>" %></td>
      </tr>
      <tr>
        <th>Start date</th>
        <td><%= @report.begin_date.strftime("%Y-%m-%d") %></td>
      </tr>
      <tr>
        <th>End date</th>
        <td><%= @report.end_date.strftime("%Y-%m-%d") %></td>
      </tr>
      <tr>
        <th colspan="2">
          <%= link_to "Back", expense_report_form_path, class: "btn btn-default" %>
       </th>
      </tr>
    </tbody>
  </table>

  <div id="expense_report_chart">
    <script>
      $(document).ready(function() {
        var chart = new CanvasJS.Chart("expense_report_chart",
          {
            zoomEnabled: true,
            data: [
              {
                type: "spline",
                dataPoints: [ <%= raw report_as_data_points(@report) %> ]
              }
            ]
         });

        chart.render();
      });
    </script>
  </div>
</div>
