<%= javascript_include_tag "expense_reports" %>

<div class="container-fluid">
  <h3 class="text-center">Choose Report Criteria</h3>
  <hr/>

   <% if alert %>
    <row>
      <div class="col-sm-offset-3 col-sm-8 alert alert-danger">
        <%= alert %>
      </div>
    </row>
  <% end %>

  <%= form_for @report, method: :get,
    url: create_expense_report_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "/shared/item_type_input",
      locals: { form_builder: f,  field_name: "root_item_type" } %>

    <div class="form-group">
      <%= f.label :tag, "Tag", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <div class="tag-input-panel">
          <%= f.text_field :tag, id: "tag_input", class: "form-control", placeholder: "Tag for the purchases" %>

          <!-- dropdown menu for auto-complete-->
          <div class="dropdown">
            <button style="display: none" type="button" data-toggle="dropdown"></button>
            <ul class="dropdown-menu"></ul>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: "/shared/date_input",
      locals: { form_builder: f, field_name: :begin_date, label_text: "Begin date" } %>

    <%= render partial: "/shared/date_input",
      locals: { form_builder: f, field_name: :end_date, label_text: "End date" } %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= f.submit "Create Report", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
