<%= javascript_include_tag "item_types"%>

<div class="container">
  <h4 class="text-center">Edit Purchased Product</h4>

  <% if alert %>
    <div class="alert alert-danger col-sm-offset-3 col-sm-8">
      <%= alert%>
    </div>
  <% end %>

  <hr/>

  <%= form_for @item_type,
    url: edit_item_type_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "update_name", locals: { form_builder: f } %>

    <%= render partial: "update_description", locals: { form_builder: f } %>

    <%= render partial: "update_categories", locals: { form_builder: f } %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", request.env["HTTP_REFERER"], class: "btn btn-primary" %>

        <%= link_to "Delete", delete_item_type_path(f.object),
          method: :post, class: "btn btn-danger",
          data: { confirm: "This will also delete expense entries of the product" } %>

      </div>
    </div>
  <% end %>
</div>
