<table class="table table-hover expense_history_table">
  <tbody>
    <% expense_entries_by_date = group_expense_entries_by_purchase_date(expense_history.entries) %>
    <% expense_entries_by_date.each do |expense_entries_of_one_day| %>
      <tr>
        <td colspan="3" class="active date-header">
          <%= expense_entries_of_one_day[:date].strftime('%Y-%m-%d') +
            " | total cost: " +
            cost_to_display(expense_entries_of_one_day[:total_cost]) %>
        </td>
      </tr>

      <% expense_entries_of_one_day[:entries].each do |expense_entry| %>
        <tr class="expense_entry_row">
          <th>
            <%= link_to expense_entry.item_type.name,
              show_item_type_path(expense_entry.item_type),
              class: "btn btn-default"%>

            <a href="<%= show_expense_entry_path(expense_entry) %>" class="edit hidden"
              title="edit the entry">
              <span class="glyphicon glyphicon-edit"><span>
            </a>
            <a href="<%= delete_expense_entry_path(expense_entry) %>"
               data-method="post" data-confirm="Delete the expense entry permanently?"
               title="delete the entry" class="delete hidden">
               <span class="glyphicon glyphicon-remove-circle"><span>
            </a>
          </th>
          <td><%= cost_to_display(expense_entry.cost) %></td>
          <td>
            <% expense_entry.tags.each do |tag| %>
              <span class="label label-default"><%= tag.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div>
  <%= will_paginate expense_history.entries, renderer: BootstrapPagination::Rails %>
</div>

<script>
  $(document).ready(function() {
    $('.expense_entry_row').hover(
      function(event) {
        $(this).find("a.edit").removeClass("hidden");
        $(this).find("a.delete").removeClass("hidden");
      },
      function(event) {
        $(this).find("a.edit").addClass("hidden");
        $(this).find("a.delete").addClass("hidden");
      }
    )
  });
</script>
