<div class="container">
  <h3 class="text-center">Enter Your Expense</h3>
  <hr/>
  <% if notice %>
    <row>
      <div class="col-sm-offset-3 col-sm-8 alert alert-success">
        <%= notice %>
      </div>
    </row>
  <% end %>

  <%= form_for @expense_entry,
        url: create_expense_entry_path,
        html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "item_type_of_create_form", locals: { form_builder: f } %>

    <%= render partial: "cost_of_create_form", locals: { form_builder: f } %>

    <%= render partial: "purchase_date_of_create_form", locals: { form_builder: f } %>

    <%= render partial: "tags_of_create_form", locals: { form_builder: f } %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
