<div class="container-fluid">
  <h4 class="text-center">View Expense Timeline</h4>
  <hr/>

  <%= form_for @expense_history, method: :get,
    url: list_expense_entries_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "/shared/date_range_input", locals: { form_builder: f }%>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= submit_tag "View", name: "view_history", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>

  <% if @expense_history.entries.empty? && params[:view_history] %>
    <div class="col-sm-offset-3 col-sm-8 alert alert-info">Empty expense history</div>
  <% else %>
    <%= render partial: "history_table", locals: { expense_history: @expense_history } %>
  <% end %>
</div>
