<%= javascript_include_tag "expense_entries" %>

<div class="container-fluid">
  <h3 class="text-center">View Expense Entries</h3>
  <hr/>

  <%= form_for @expense_history, method: :get,
    url: view_expense_entries_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "/shared/date_range_input", locals: { form_builder: f }%>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= submit_tag "View", name: "view_history", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr/>

  <table class="table">
    <tbody>
      <% current_date = nil %>
      <% @expense_history.entries.each do |expense_entry| %>
        <% if current_date != expense_entry.purchase_date %>
          <% current_date =  expense_entry.purchase_date %>
          <tr>
            <td colspan="3" class="active">
              <%= current_date.strftime('%Y-%m-%d') %>
            </td>
          </tr>
        <% end %>

        <tr>
          <th><%= expense_entry.item_type.name %></th>
          <td><%= expense_entry.cost %></td>
          <td><%= expense_entry.tags.map(&:name).join(",") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= will_paginate @expense_history.entries, renderer: BootstrapPagination::Rails %>
  </div>
</div>
