<%= javascript_include_tag "expense_entries" %>

<div class="container-fluid">
  <h3 class="text-center">View Expense Entries</h3>
  <hr/>

  <%= form_for @expense_history, method: :get,
    url: view_expense_entries_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "/shared/date_range_input", locals: { form_builder: f }%>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= submit_tag "View", name: "view_history", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr/>

  <table class="table expense_history_table">
    <tbody>
      <% expense_entries_by_date = group_expense_entries_by_purchase_date(@expense_history.entries) %>
      <% expense_entries_by_date.each do |expense_entries_of_one_day| %>
        <tr>
          <td colspan="3" class="active date-header">
            <%=
              expense_entries_of_one_day[:date].strftime('%Y-%m-%d') +
              " | total cost: " +
              cost_to_display(expense_entries_of_one_day[:total_cost])
             %>
          </td>
        </tr>

        <% expense_entries_of_one_day[:entries].each do |expense_entry| %>
          <tr>
            <th><%= expense_entry.item_type.name %></th>
            <td><%= cost_to_display(expense_entry.cost) %></td>
            <td>
              <% expense_entry.tags.each do |tag| %>
                <span class="label label-default">
                  <%= tag.name %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= will_paginate @expense_history.entries, renderer: BootstrapPagination::Rails %>
  </div>
</div>
