<%= javascript_include_tag "expense_entries" %>

<div class="container-fluid">
  <h3 class="text-center">View Expense Entries</h3>
  <hr/>

  <%= form_for @expense_history, method: :get,
    url: view_expense_entries_path,
    html: { class: "form-horizontal", autocomplete: "off" } do |f| %>

    <%= render partial: "/shared/date_range_input", locals: { form_builder: f }%>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= submit_tag "View", name: "view_history", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr/>

  <%= render partial: "history_table",
    locals: { expense_history: @expense_history } %>
</div>
