<div class="container signup">
  <h3 class="text-center">Create Your Account</h3>
  <hr/>
  
  <%= form_for @user, url: signup_path, html: { id: "signup_form", class: "form-horizontal" } do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div class="col-sm-offset-4 col-sm-8 text-danger">
        <% @user.errors[:name].each do |msg| %>
          <%= "name " + msg %>
          <br/>
        <% end %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "Password", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="col-sm-offset-4 col-sm-8 text-danger">
        <% @user.errors[:password].each do |msg| %>
          <%= "password " + msg %>
          <br/>
        <% end %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="col-sm-offset-4 col-sm-8 text-danger">
        <% @user.errors[:password_confirmation].each do |msg| %>
          <%= "password confirmation " + msg %>
          <br/>
        <% end %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="checkbox col-sm-offset-4 col-sm-8">
        <label>
          <input type="checkbox" name="remember_me" value="true">
          Remember me
        </label>
      </div>
    </div>
 
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>
    
  <% end %>
</div>
