<div class="container signin">
  <div class="signin-header">
    Sign in to OhMoney
  </div>

  <% if alert %>
    <div class="alert alert-danger"> <%= alert %></div>
  <% end %>

  <%= form_for @user, as: :user, url: signin_path, method: :post, html: { id: "signin_form"} do |f| %>
    <div class="form-group">
      <%= f.label :name, "Username" %>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="checbox">
      <label>
        <input type="checkbox" name="remember_me"/>
        Remember me
      </label>
    </div>

    <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>

