<div class="form-group">
  <%= form_builder.label field_name, label_text, class: "col-sm-3 control-label" %>
  <div class="col-sm-8">
    <div id="<%= field_name %>_picker" class="input-group date">
      <%= form_builder.text_field field_name, class: "form-control", readonly: "true" %>
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"/> </span>
    </div>

    <script type="text/javascript">
      $(function() {
        $('#<%= field_name %>_picker').datetimepicker({
          <% if defined?(default_date) && default_date %>
            <%= raw "defaultDate: '#{default_date}'," %>
          <% else %>
            <%= "userCurrent: false," %>
          <% end %>

          format : 'YYYY-MM-DD',
          ignoreReadonly : true
        });
      });
    </script>
  </div>

  <div class="col-sm-offset-3 col-sm-8 text-danger">
    <% form_builder.object.errors[field_name].each do |msg| %>
      <%= msg %>
      <br/>
    <% end %>
  </div>
</div>
