<div class="container">
  <h3>Welcome to <em>OhMoney</em>, the ultimate expense tracker</h3>

  <div class="alert alert-info">
    <% if @current_user %>
      Welcome, <%= @current_user.name %>
      <span class="pull-right">
        <%= link_to "Sign out", signout_path, method: :post %>
      </span>
    <% else %>
      <%= link_to "Sign in", signin_path, class: "btn btn-default" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <%= link_to "Enter daily expense", create_expense_entry_path,
        class: "btn btn-default" %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= link_to "View daily expenses", view_expense_entries_path,
        class: "btn btn-default" %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= link_to "View purchased products", list_item_types_path,
        class: "btn btn-default" %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= link_to "Create expense report", expense_report_form_path,
        class: "btn btn-default" %>
    </div>
  </div>
</div>


