<div class="container">
  <h4 class="text-center">View Tags</h4>
  <hr/>

  <div class="alert alert-info alert-dismissible fade in <%= 'hidden' if !notice %>">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <p><%= notice %></p>
  </div>
  <div class="alert alert-danger alert-dismissible fade in <%= 'hidden' if !alert %>">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <p><%= alert %></p>
  </div>

  <table class="table table-hover table-striped tags-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td>
            <form class="form-inline">
              <div class="form-group">
                <label class="label label-default"><%= tag.name %></label>
                <input name="tag_name" type="text" class="form-control hidden" />
                <input name="tag_id" type="hidden" value="<%= tag.id %>" />
              </div>

              <a href="javascript:void(0)" title="edit the tag" class="hidden edit">
                <span class="glyphicon glyphicon-pencil"><span>
              </a>
              <a href="javascript:void(0)" title="save the change" class="hidden save">
                <span class="glyphicon glyphicon-ok"><span>
              </a>
              <a href="javascript:void(0)" title="cancel the change" class="hidden cancel">
                <span class="glyphicon glyphicon-circle-arrow-left"><span>
              </a>

              <%= link_to delete_tag_path(tag), method: :post,
                title: "delete the tag", class: "hidden delete",
                data: { confirm: "Delete the tag permanently?" } do %>
                <span class="glyphicon glyphicon-remove"><span>
              <% end %>
            </form>
          </td>
          <td><%= tag.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
  </div>

  <script>
    $(document).ready(function() {
      var $tags_table_row = $('.tags-table tbody tr')

      // hover on the row to reveal 'edit' and 'delete' buttons if not in 'save' mode
      $tags_table_row.hover(
        function(event) {
          if ($(this).find('.save').hasClass('hidden')) {
            $(this).find('.delete, .edit').removeClass('hidden')
          }
        },
        function(event) {
          $(this).find('.delete, .edit').addClass('hidden')
        }
      );

      // click the 'edit' button to reveal text input
      $tags_table_row.find('.edit').click(function(event) {
        var $form = $(this).parent();

        $form.find('.label, .edit, .delete').addClass('hidden');

        $form.find('input[name=tag_name]')
          .val($form.find('.label').text())
          .removeClass('hidden')
          .focus();

        $form.find('.save, .cancel').removeClass('hidden');
      });

      // press enter on the tag name input will NOT submit form
      $('input[name=tag_name]').keypress(function(event) {
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });

      // click the 'save' button to save change and fall back to 'edit'/'delete' modes
      $tags_table_row.find('.save').click(function(event) {
        var $form = $(this).parent();
        var tag_id = $form.find('[name=tag_id]').val();
        var tag_name = $form.find('input[name=tag_name]').val().trim();

        // save the change by AJAX
        var url = '/tags/' + tag_id + '/edit.json';
        $.post(url, { 'tag[name]': tag_name })
          .done(function(data) {
            $('.alert-info').removeClass('hidden').find('p').text(data.message);

            $form.find('.label').text(tag_name);
          })
          .fail(function(data) {
            $('.alert-danger')
              .removeClass('hidden')
              .find('p')
              .text("fail to update tag '" + tag_name + "': "
                + (data.message ? data.message : "unkown error")
              );
          });

        $form.find('.save, .cancel, input[name=tag_name]').addClass('hidden');
        $form.find('.label, .edit, .delete').removeClass('hidden');
      });

      // click the 'cancel' button to discard change and fall back to 'edit'/'delete' modes
      $tags_table_row.find('.cancel').click(function(event) {
        var $form = $(this).parent();

        $form.find('.save, .cancel, input[name=tag_name]').addClass('hidden');
        $form.find('.label, .edit, .delete').removeClass('hidden');
      });
    });
  </script>
</div>

