<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OhMoney</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "brand.png", alt: "Brand", size: "20" %>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              Expenditure<span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
             <li>
               <%= link_to "Add expense entry", create_expense_entry_path %>
             </li>
             <li>
               <%= link_to "View expense timeline", list_expense_entries_path %>
             </li>
             <li>
               <%= link_to "Create expense report", expense_report_form_path %>
             </li>
           </ul>
        </li>

        <li>
          <%= link_to "Goods", list_item_types_path %>
        </li>

        <li>
          <%= link_to "Tags", list_tags_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li>
            <p class="navbar-text">Welcome, <em><strong><%= @current_user.name %></strong></em></p>
          </li>
          <li><%= link_to "Sign out", signout_path, method: :post %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
